{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="page-content">

    <!-- BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url('{% static "images/banner/learning.jpg" %}');">
        <div class="overlay-main site-bg-white opacity-01"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <h2 class="wt-title">Learning Tips</h2>
                <ul class="wt-breadcrumb breadcrumb-style-2">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Learning Tips</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- LEARNING TIPS SECTION -->
    <div class="section-full p-t120 p-b90 site-bg-white">
        <div class="container">
            <div class="row">

                <!-- MAIN CONTENT -->
                <div class="col-lg-8 col-md-12">
                    <div class="masonry-wrap row d-flex">
                       {% for tip in page_obj %}
<div class="masonry-item col-lg-6 col-md-12">
    <div class="blog-post twm-blog-post-1-outer position-relative">
        
        <!-- COST BADGE -->
        <div class="position-absolute top-2 right-2 p-2 rounded bg-primary text-white" style="z-index:10;">
            {{ tip.cost }}
        </div>

        <div class="wt-post-media">
            {% if tip.image %}
            <img src="{{ tip.image.url }}" alt="{{ tip.title }}">
            {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="Default">
            {% endif %}
        </div>

        <div class="wt-post-info">
            <h4 class="post-title">{{ tip.title|truncatechars:60 }}</h4>
            <p>{{ tip.description|truncatechars:150 }}</p>
            
            {% if tip.url %}
            <a href="{{ tip.url }}" target="_blank" class="site-button-link site-text-primary">
                Go to Course
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
                    </div>

                    <!-- Pagination -->
                    <div class="pagination-outer">
                        <div class="pagination-style1">
                            <ul class="clearfix">
                                {% if page_obj.has_previous %}
                                    <li class="prev"><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="active"><a href="javascript:;">{{ num }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="next"><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- SIDEBAR -->
                <div class="col-lg-4 col-md-12 rightSidebar">
                    <div class="side-bar">

                        <!-- Search -->
                        <div class="widget search-bx">
                            <form method="post" role="search">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search learning tips...">
                                    <button class="btn" type="button"><i class="feather-search"></i></button>
                                </div>
                            </form>
                        </div>

                        <!-- Categories -->
                        <div class="widget all_services_list">
                            <h4 class="section-head-small mb-4">Categories</h4>
                            <ul>
                                <li><a href="?cost=Free">Free</a></li>
                                <li><a href="?cost=Paid">Paid</a></li>
                            </ul>
                        </div>

                        <!-- Recent Tips -->
                        <div class="widget recent-posts-entry">
                            <h4 class="section-head-small mb-4">Recent Learning Tips</h4>
                            <div class="section-content">
                                <div class="widget-post-bx">
                                    {% for recent in recent_tips %}
                                    <div class="widget-post clearfix">
                                        <div class="wt-post-media">
                                            <img src="{{ recent.image.url }}" alt="{{ recent.title }}">
                                        </div>
                                        <div class="wt-post-info">
                                            <span class="post-date">{{ recent.created_at|date:"M d, Y" }}</span>
                                            <span class="post-title">
                                                <a href="{% url 'learning_tip_detail' recent.id %}">{{ recent.title|truncatechars:50 }}</a>
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
