<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'manager_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'custom_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome, {{ user.first_name }}!</h1>
        <p>This is the Manager Dashboard. Here, you can manage various parts of the site as assigned.</p>
        
        <section>
            <h2>Manager Actions</h2>
            <ul>
                <li><a href="#">View Site Reports</a></li>
                <li><a href="{% url 'approve_manager_list'%}">Manage Users</a></li>
                <li><a href="#">Review Approvals</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Job Portal. All Rights Reserved.</p>
    </footer>
</body>
</html>
