{% comment %} 
<div class="container">
  <h1>Edit Your Employer Profile</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <div class="form-group">
      {{ form.company_name.label_tag }}
      {{ form.company_name }}
      {{ form.company_name.errors }}
    </div>

    <div class="form-group">
      {{ form.location.label_tag }}
      {{ form.location }}
      {{ form.location.errors }}
    </div>

    <div class="form-group">
      {{ form.company_website.label_tag }}
      {{ form.company_website }}
      {{ form.company_website.errors }}
    </div>

    <div class="form-group">
      {{ form.company_description.label_tag }}
      {{ form.company_description }}
      {{ form.company_description.errors }}
    </div>

    <div class="form-group">
      {{ form.phone.label_tag }}
      {{ form.phone }}
      {{ form.phone.errors }}
    </div>

    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="form-group">
      {{ form.facebook_link.label_tag }}
      {{ form.facebook_link }}
      {{ form.facebook_link.errors }}
    </div>

    <div class="form-group">
      {{ form.twitter_link.label_tag }}
      {{ form.twitter_link }}
      {{ form.twitter_link.errors }}
    </div>

    <div class="form-group">
      {{ form.google_link.label_tag }}
      {{ form.google_link }}
      {{ form.google_link.errors }}
    </div>

    <div class="form-group">
      {{ form.linkedin_link.label_tag }}
      {{ form.linkedin_link }}
      {{ form.linkedin_link.errors }}
    </div>

    <div class="form-group">
      {{ form.founded_date.label_tag }}
      {{ form.founded_date }}
      {{ form.founded_date.errors }}
    </div>

    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
</div> {% endcomment %}
