{% extends 'base.html' %}
{% load static %}

{% block body %}
      
      
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url('{% static 'images/banner/1.jpeg' %}');">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Recommended Jobs for You</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{%url 'home'%}">Home</a></li>
                                    <li>Jobs List</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->


            <!-- OUR BLOG START -->
            <div class="section-full p-t120  p-b90 site-bg-white">
                

                <div class="container">
                    <div class="row">
                        
    
                                <!--Filter Short By-->
                                <div class="product-filter-wrap d-flex justify-content-between align-items-center m-b30">
                                    <span class="woocommerce-result-count-left">Showing Top 5 jobs</span>
                                   
                                    <form class="woocommerce-ordering twm-filter-select" method="get">
                                        <span class="woocommerce-result-count">Your Dream Job Awaits!</span>

                                    </form>
    
                                </div>
    
                                <div class="twm-jobs-list-wrap">
                                    {% if jobs %}
                                    <ul>
                                        {% for job in jobs %}
                                         <li>
                                             <div class="twm-jobs-list-style1 mb-5">
                                                 <div class="twm-media">
                                                     <img src="{{ job.employee.logo.url }}" alt="#">
                                                 </div>
                                                 <div class="twm-mid-content">
                                                     <a href="{{ job.get_absolute_url }}" class="twm-job-title">
                                                         <h4>{{ job.title }}<span class="twm-job-post-duration">/ {{ job.created_at|timesince }} days ago</span></h4>
                                                       
                                                     </a>
                                                     <p class="twm-job-address">{{ job.job_location }}</p>
                                                     <p class="twm-job-address">{{ job.employee.company_name }}</p>
                                                     <a href="https://themeforest.net/user/thewebmax/portfolio" class="twm-job-websites site-text-primary">https://thewebmax.com</a>
                                                 </div>
                                                 <div class="twm-right-content">
                                                     <div class="twm-jobs-category green"><span class="twm-bg-green">Recommend</span></div>
                                                     <div class="twm-jobs-amount"><span>Vacancies: {{ job.no_of_vacancy }}</span> </div>
                                                     <a href="{% url 'job_detail' job.id %}" class="twm-jobs-browse site-text-primary">Browse Job</a>
                                                 </div>
                                             </div>
                                         </li>
                                         {% endfor %}
                                         
                                    </ul>
                                    {% else %}
                                        <p>No job recommendations found. Try updating your resume.</p>
                                    {% endif %}
                                </div>
   
                    </div>
                </div>
            </div>   
            <!-- OUR BLOG END -->
              
     
        </div>
        <!-- CONTENT END -->






{% endblock %} 





<h2>Recommended Jobs for You</h2>

{% if jobs %}
    <ul>
    {% for job in jobs %}
        <li>
            <a href="{{ job.get_absolute_url }}">{{ job.title }}</a> - {{ job.company_industry_type }}
            <p>{{ job.job_description|truncatewords:20 }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No job recommendations found. Try updating your resume.</p>
{% endif %}


