{% extends 'base.html' %}
{% load static %}

{% block body %}
 
        <!-- CONTENT START -->
        <div class="page-content">

            <div class="twm-candi-self-wrap-2 overlay-wraper" style="background-image:url('{% static "images/candidates/candidate-bg2.jpeg" %}');">
                <div class="overlay-main site-bg-primary opacity-01"></div>
                <div class="container">
                    <div class="twm-candi-self-info-2">
                        <div class="twm-candi-self-top">
                            <div class="twm-candi-fee">Job hunting</div>
                            <div class="twm-media">
                                <img src="{{ resume.image.url }}" alt="#">

                            </div>
                            <div class="twm-mid-content">
                                 
                                <h4 class="twm-job-title">{{ resume.name }}</h4> 
                                
                                <p>{{ resume.title }}</p>
                                <p class="twm-candidate-address"><i class="feather-map-pin"></i>{{ resume.hometown }}</p>
                                
                            </div>
                        </div>
                        <div class="twm-ep-detail-tags">
                            <button class="de-info twm-bg-green"><i class="fa fa-share-alt"></i> Share</button>
                            <button class="de-info twm-bg-brown"><i class="fa fa-file-signature"></i> Shortlist</button>
                            <button class="de-info twm-bg-purple"><i class="fa fa-exclamation-triangle"></i> Report</button>
                            <button class="de-info twm-bg-sky"><i class="fa fa-save"></i> Save</button>
                        </div>
                        <div class="twm-candi-self-bottom">
                            <a href="" class="site-button">Contact Us</a>
                            {% if profile.resume %}
                                <a href="{{ profile.resume.url }}" class="site-button secondry">Download CV</a>
                            {% else %}
                                <p class="site-button" >
                                    No resume added yet.
                                </p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- OUR BLOG START -->

                <div class="container">
                    <div class="row">
                        
                        <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">

                            <div class="side-bar-st-1">
                                
                                <div class="twm-candidate-profile-pic">
                                    
                                    <img src="{{ resume.image.url }}" alt="#">
                                    <div class="upload-btn-wrapper">
                                        
                                        <div id="upload-image-grid"></div>
                                        
                                        <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                                    </div>
                                    
                                </div>
                                <div class="twm-mid-content text-center">
                                    <a href="candidate-detail.html" class="twm-job-title">
                                        <h4>{{ resume.name }}</h4>
                                    </a>
                                    <p>{{ resume.title }}</p>
                                </div>
                               
                                <div class="twm-nav-list-1">
                                    <ul>
                                        <li class="active"><a href="{% url 'view_profile' %}"><i class="fa fa-user"></i> Profile View</a></li>
                                        <li ><a href="{% url 'dashboard' %}"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>         
                                        <li ><a href="{% url 'upload_resume' %}"><i class="fa fa-upload"></i> Upload Resume</a></li>
                                        <li ><a href="{% url 'my_resume' %}"><i class="fa fa-receipt"></i> My Resume</a></li>
                                        <li><a href="{% url 'dashboard' %}"><i class="fa fa-suitcase"></i> Applied Jobs</a></li>
                                        <li><a href="#"><i class="fa fa-file-download"></i> Saved Jobs</a></li>
                                        <li><a href="#"><i class="fa fa-bell"></i> Job Alerts</a></li>
                                        <li><a href="{% url 'password_change' %}"><i class="fa fa-fingerprint"></i> Change Passeord</a></li>
                                        <li><a href="{% url 'custom_logout' %}"><i class="fa fa-share-square"></i> Logout</a></li>
                                    </ul> 

                                </div>
                                
                            </div>

                        </div>

                        <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                            <!--Filter Short By-->
                            <div class="twm-right-section-panel site-bg-gray">
                                <h4 class="twm-s-title m-t0">About Me</h4>

                                    <p>{{ resume.profile_summary }}</p>
                                  
                                <div class="twm-s-info-wrap mb-5">
                                    <h4 class="section-head-small mb-4">Profile Info</h4> 
                                    <div class="twm-s-info-4">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-money-bill-wave"></i>
                                                    <span class="twm-title">Expected Salary</span>
                                                    <div class="twm-s-info-discription">{{ resume.expected_salary }}BDT</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-clock"></i>
                                                    <span class="twm-title">Availability to Join</span>
                                                    <div class="twm-s-info-discription">{{ resume.availability_to_join }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-venus-mars"></i>
                                                    <span class="twm-title">Gender</span>
                                                    <div class="twm-s-info-discription">{{ resume.gender }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-mobile-alt"></i>
                                                    <span class="twm-title">Phone</span>
                                                    <div class="twm-s-info-discription">{{ resume.phone_number }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-at"></i>
                                                    <span class="twm-title">Email</span>
                                                    <div class="twm-s-info-discription">{{ resume.email }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-book-reader"></i>
                                                    <span class="twm-title">Date of Birth</span>
                                                    <div class="twm-s-info-discription">{{ resume.date_of_birth }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="twm-s-info-inner">
                                                    
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <span class="twm-title">Permanent Address</span>
                                                    <div class="twm-s-info-discription">{{ resume.permanent_address }}</div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div> 
                                <h4 class="twm-s-title">Skills</h4>

                                    <div class="tw-sidebar-tags-wrap">
                                        <div class="tagcloud">
                                            {% for skill in skills %}
                                                    <a href="javascript:void(0)">{{ skill.skill_name }}</a>
                                            {% endfor %} 
                                            
                                        </div>
                                    </div>

                                    <h4 class="twm-s-title">Work Experience</h4>
                                    <div class="twm-timing-list-wrap">
                                        {% for employment in employments %}
                                            <div class="twm-timing-list">
                                                <div class="twm-time-list-date">
                                                    {{ employment.start_date.year }} to 
                                                    {% if employment.end_date %}
                                                        {{ employment.end_date.year }}
                                                    {% else %}
                                                        Present
                                                    {% endif %}
                                                </div>
                                                <div class="twm-time-list-title">{{ employment.company_name }}</div>
                                                <div class="twm-time-list-position">{{ employment.role }}</div>
                                                <div class="twm-time-list-discription">
                                                    <p>{{ employment.responsibilities }}</p>
                                                </div>
                                            </div>
                                        {% endfor %} 

                                      
                                    </div>

                                    <h4 class="twm-s-title">Education & Training</h4>
                                    <div class="twm-timing-list-wrap">
                                        {% for education in educations %}
                                            <div class="twm-timing-list">
                                                <div class="twm-time-list-date"> Passing Year {{ education.graduation_year }} </div>
                                                <div class="twm-time-list-title">{{ education.degree }}</div>
                                                <div class="twm-time-list-position">{{ education.university }}</div>
                                                <div class="twm-time-list-discription">
                                                    <p>
                                                        {% if education.field_of_study %}
                                                            Specialized in {{ education.field_of_study }}.
                                                        {% else %}
                                                            Completed {{ education.degree }} successfully.
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                        {% endfor %} 

                                    </div> 

                               
                                    
                                    <!--Basic Information-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading wt-panel-heading p-a20">
                                            <h4 class="panel-tittle m-a0">Basic Informations</h4>
                                        </div>
                                        <div class="panel-body wt-panel-body p-a20 m-b30">
                                            <div class="row">
                                                <!-- Name -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        <label>Your Name</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_name" type="text" value="{{ resume.name }}" readonly>
                                                            <i class="fs-input-icon fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Phone -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_phone" type="text" value="{{ resume.phone_number }}" readonly>
                                                            <i class="fs-input-icon fa fa-phone-alt"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Email Address -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        <label>Email Address</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_Email" type="email" value="{{ resume.email }}" readonly>
                                                            <i class="fs-input-icon fas fa-at"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Website (Optional) -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        <label>Marital Status</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_website" type="text" value="{{resume.marital_status }}" readonly>
                                                            <i class="fs-input-icon fa fa-globe-americas"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Qualification -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        <label>Qualification</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_since" type="text" value="{{ resume.educations.last.degree }}" readonly>
                                                            <i class="fs-input-icon fa fa-user-graduate"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Language -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        <label>Language</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_since" type="text" value="{{ resume.languages }}" readonly>
                                                            <i class="fs-input-icon fa fa-language"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Job Category -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group city-outer-bx has-feedback">
                                                        <label>Job Category</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_since" type="text" value="{{ resume.job_type }}" readonly>
                                                            <i class="fs-input-icon fa fa-border-all"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Experience -->
                                                <div class="col-xl-6 col-lg-6 col-md-12">
                                                    <div class="form-group city-outer-bx has-feedback">
                                                        <label>Experience</label>
                                                        <div class="ls-inputicon-box">
                                                            
                                                            <input class="form-control" type="text" value="{{ total_years_of_experience }} Years" placeholder="05 Years" readonly>
                                                            <i class="fs-input-icon fa fa-user-edit"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                
                                    
                                                <!-- Age -->
                                                <div class="col-xl-4 col-lg-12 col-md-12">
                                                    <div class="form-group city-outer-bx has-feedback">
                                                        <label>Age</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" type="text" value="{{ age }} Years" placeholder="Age" readonly>
                                                            <i class="fs-input-icon fa fa-child"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                               
                                                
                                                <!-- City -->
                                                <div class="col-xl-4 col-lg-6 col-md-12">
                                                    <div class="form-group city-outer-bx has-feedback">
                                                        <label>City</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_since" type="text" value="{{ resume.hometown }}" readonly>
                                                            <i class="fs-input-icon fa fa-globe-americas"></i>
                                                        </div>
                                                    </div>
                                                </div> 
                                    
                                                <!-- Postcode -->
                                                <div class="col-xl-4 col-lg-12 col-md-12">
                                                    <div class="form-group city-outer-bx has-feedback">
                                                        <label>Postcode</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_since" type="text" value="{{ resume.area_pin_code }}" readonly>
                                                            <i class="fs-input-icon fas fa-map-pin"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Full Address -->
                                                <div class="col-xl-12 col-lg-12 col-md-12">
                                                    <div class="form-group city-outer-bx has-feedback">
                                                        <label>Full Address</label>
                                                        <div class="ls-inputicon-box">
                                                            <input class="form-control" name="company_since" type="text" value="{{ resume.permanent_address }}" readonly>
                                                            <i class="fs-input-icon fas fa-map-marker-alt"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                            </div>
                                        </div>
                                    </div>
                
                                    <!--Social Network-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading wt-panel-heading p-a20">
                                            <h4 class="panel-tittle m-a0">Social Network</h4>
                                        </div>
                                        <div class="panel-body wt-panel-body p-a20 m-b30">
                                            <div class="row">
                                                <!-- LinkedIn -->
                                                {% if resume.linkedin_profile %}
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>LinkedIn</label>
                                                            <div class="ls-inputicon-box">
                                                                <a class="form-control wt-form-control" href="{{ resume.linkedin_profile }}" target="_blank" style="display: block; text-decoration: none; color: inherit;">
                                                                    <i class="fs-input-icon fab fa-linkedin-in"></i><p>   View Profile</P>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                    
                                                <!-- GitHub -->
                                                {% if resume.github_profile %}
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>GitHub</label>
                                                            <div class="ls-inputicon-box">
                                                                <a class="form-control wt-form-control" href="{{ resume.github_profile }}" target="_blank" style="display: block; text-decoration: none; color: inherit;">
                                                                    <i class="fs-input-icon fab fa-github"></i><p>   View Profile</P>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                    
                                                <!-- Portfolio -->
                                                {% if resume.portfolio_link %}
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Others/Portfolio</label>
                                                            <div class="ls-inputicon-box">
                                                                <a class="form-control wt-form-control" href="{{ resume.portfolio_link }}" target="_blank" style="display: block; text-decoration: none; color: inherit;">
                                                                    <i class="fs-input-icon fas fa-briefcase"></i><p>   View Profile</P>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                              
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
             
            <!-- OUR BLOG END -->
          
            
     
        </div>
        <!-- CONTENT END -->

{% endblock %}