{% extends 'panel.html' %}
{% load static %}

{% block body %}
<div id="content">
    <div class="content-admin-main">
        <div class="wt-admin-right-page-header clearfix">
            <h2>Post a Job</h2>
            <div class="breadcrumbs"><a href="{% url 'home' %}">Home</a><a href="{% url 'superuser_dashboard' %}">Dashboard</a><span>Job Submission Form</span></div>
        </div>

        <!-- Job Details Panel -->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i> Job Details</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">

                        <!-- Select Employee -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Assign To Employee</label>
                                <div class="ls-inputicon-box">
                                    {{ form.employee }}
                                    <i class="fs-input-icon fa fa-user-tie"></i>
                                </div>
                                {% if form.employee.errors %}
                                    <div class="text-danger">{{ form.employee.errors }}</div>
                                {% endif %}
                            </div>
                        </div> 

                        <!-- Job Status -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Status</label>
                                <div class="ls-inputicon-box">
                                    {{ form.status }}
                                    <i class="fs-input-icon fa fa-info-circle"></i>
                                </div>
                                {% if form.status.errors %}
                                    <div class="text-danger">{{ form.status.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        

                        <!-- Job Title -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Title</label>
                                <div class="ls-inputicon-box"> 
                                    {{ form.title }}
                                    <i class="fs-input-icon fa fa-address-card"></i>
                                </div>
                                {% if form.title.errors %}
                                                    <div class="text-danger">{{ form.title.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Job Category -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Category</label>
                                <div class="ls-inputicon-box">
                                    {{ form.job_category }}
                                    <i class="fs-input-icon fa fa-border-all"></i>
                                </div>
                                {% if form.job_category.errors %}
                                                    <div class="text-danger">{{ form.job_category.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Company Industry Type -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Company Industry Type</label>
                                <div class="ls-inputicon-box">
                                    {{ form.company_industry_type }}
                                    <i class="fs-input-icon fa fa-building"></i>
                                </div>
                                {% if form.company_industry_type.errors %}
                                                    <div class="text-danger">{{ form.company_industry_type.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Number of Vacancies -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>No. of Vacancies</label>
                                <div class="ls-inputicon-box">
                                    {{ form.no_of_vacancy }}
                                    <i class="fs-input-icon fa fa-users"></i>
                                </div>
                                {% if form.no_of_vacancy.errors %}
                                                    <div class="text-danger">{{ form.no_of_vacancy.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                         
                        <!-- Application Deadline -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Application Deadline</label>
                                <input type="date" id="application_deadline" name="application_deadline" class="form-control" required>
                            </div>
                            {% if form.application_deadline.errors %}
                                    <div class="text-danger">{{ form.application_deadline.errors }}</div>
                                {% endif %}
                        </div>  


                        <!-- Age Range -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Age Range</label>
                                <div class="ls-inputicon-box">
                                    {{ form.age_range }}
                                    <i class="fs-input-icon fa fa-user"></i>
                                </div>
                                {% if form.age_range.errors %}
                                                    <div class="text-danger">{{ form.age_range.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Gender -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="ls-inputicon-box">
                                    {{ form.gender }}
                                    <i class="fs-input-icon fa fa-venus-mars"></i>
                                </div>
                                {% if form.gender.errors %}
                                                    <div class="text-danger">{{ form.gender.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Contact Person -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Contact Person</label>
                                <div class="ls-inputicon-box">
                                    {{ form.contact_person }}
                                    <i class="fs-input-icon fa fa-phone"></i>
                                </div>
                                {% if form.contact_person.errors %}
                                                    <div class="text-danger">{{ form.contact_person.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Experience Required -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Experience Required</label>
                                <div class="ls-inputicon-box">
                                    {{ form.experience_required }}
                                    <i class="fs-input-icon fa fa-briefcase"></i>
                                </div>
                                {% if form.experience_required.errors %}
                                                    <div class="text-danger">{{ form.experience_required.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- CV Receive Method -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>CV Receive Method</label>
                                <div class="ls-inputicon-box">
                                    {{ form.cv_receive_method }}
                                    <i class="fs-input-icon fa fa-file"></i>
                                </div>
                                {% if form.cv_receive_method.errors %}
                                <div class="text-danger">{{ form.cv_receive_method.errors }}</div>
                            {% endif %}
                            </div>
                        </div>

                        <!-- Job Type -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Type</label>
                                <div class="ls-inputicon-box">
                                    {{ form.job_type }}
                                    <i class="fs-input-icon fa fa-briefcase"></i>
                                </div>
                                {% if form.job_type.errors %}
                                                    <div class="text-danger">{{ form.job_type.errors }}</div>
                                                {% endif %}
                            </div>
                        </div>

                        <!-- Job Level -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Level</label>
                                <div class="ls-inputicon-box">
                                    {{ form.job_level }}
                                    <i class="fs-input-icon fa fa-level-up-alt"></i>
                                </div>
                                {% if form.job_level.errors %}
                                <div class="text-danger">{{ form.job_level.errors }}</div>
                            {% endif %}
                            </div>
                        </div>

                        <!-- Salary Range -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Salary Range</label>
                                {{ form.salary_range }}
                                {% if form.salary_range.errors %}
                                    <div class="text-danger">{{ form.salary_range.errors }}</div>
                                {% endif %}
                            </div>
                        </div> 


                        <!-- Job Description -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Job Description</label>
                                {{ form.job_description }}
                            </div>
                            {% if form.job_description.errors %}
                                                    <div class="text-danger">{{ form.job_description.errors }}</div>
                                                {% endif %}
                        </div>

                        <!-- Job Responsibilities -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Job Responsibilities</label>
                                {{ form.job_responsibilities }}
                            </div>
                            {% if form.job_responsibilities.errors %}
                            <div class="text-danger">{{ form.job_responsibilities.errors }}</div>
                        {% endif %}
                        </div>

                        <!-- Job Requirements -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Job Requirements</label>
                                {{ form.job_requirements }}
                                {% if form.job_requirements.errors %}
                                    <div class="text-danger">{{ form.job_requirements.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
            
                        <!-- Benefits -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Benefits</label>
                                {{ form.other_benefits }}
                                {% if form.other_benefits.errors %}
                                    <div class="text-danger">{{ form.other_benefits.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
            
                        <!-- Other Qualification -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Others</label>
                                {{ form.others_qualification }}
                                {% if form.others_qualification.errors %}
                                    <div class="text-danger">{{ form.others_qualification.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
            
                        <!-- Job Location -->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Location</label>
                                <div class="ls-inputicon-box">
                                    {{ form.job_location }}
                                    <i class="fs-input-icon fa fa-map-marker-alt"></i>
                                </div>
                                {% if form.job_location.errors %}
                                    <div class="text-danger">{{ form.job_location.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
            
                        <!-- Exclusive Job -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Exclusive Job</label>
                                {{ form.exclusive_job }}
                                {% if form.exclusive_job.errors %}
                                    <div class="text-danger">{{ form.exclusive_job.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
            
                        <!-- Applicant Photo Required -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Applicant Photo Required</label>
                                {{ form.applicant_photo_required }}
                                {% if form.applicant_photo_required.errors %}
                                    <div class="text-danger">{{ form.applicant_photo_required.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Submit Buttons -->
                        <div class="col-lg-12 col-md-12">
                            <div class="text-left">
                                <button type="submit" class="site-button m-r5">Publish Job</button>
                                <button type="submit" class="site-button outline-primary">Save Draft</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

